/* color scheme */
:root {
  --light-cornflower-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --selective-yellow: #ffb703ff;
  --tangerine: #fb8500ff;
  --white: white;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.page-links {
  text-decoration: overline;
}

/*~ apply banner styling - color of title etc */
/* .banner {
  margin-left: 20px;
} */

/* ~ apply color to search history text*/
.search-history {
  color: var(--bs-gray-700);
}

/* .recent-search: {
  background-color: #343a40;
} */

/* ~apply light grey color to the weather info 2nd col section */

/* ~ change size of card-img-top weather icon for each day of forecast */
.card-img-top {
  height: 120px;
  width: 120px;
}

.weather-card {
  width: 16rem;
}

/* ~remove the line style from the cards and replace with class below of each-forecast-style */
/* .each-forecast-card {
  width: 16rem;
} */

/* mobile responsive */

@media screen and (max-width: 576px) {
  .each-forecast-card {
    width: 100%;
  }

  .weather-card {
    width: 100%;
  }
}
